{{ define "layout" }}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>404다</title>
<style>
@font-face{
	 font-family:'Daum';
	 font-style:normal;
	 font-weight:400;
	 src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-Regular.woff2') format('woff2'),
		 url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-Regular.woff') format('woff');
}
@font-face{
	 font-family:'Daum';
	 font-style:normal;
	 font-weight:700;
	 src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-SemiBold.woff2') format('woff2'),
		 url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-SemiBold.woff') format('woff');
}
* {
	background-color: #d6d6d6;
	font-family: Daum;
}
.error {
	color: white;
	font-size: 10rem;
	text-align: center;
	margin-top: 300px;
	margin-bottom: 10px;
	width: 100%;
	font-weight: 700;
}
a {
	margin-top: 0px;
	text-decoration: none;
	text-align: center;
	font-size: 1.5rem;
	margin-left: auto;
	margin-bottom: auto;
	display: block;
	color: #6caa66;
}
</style>
</head>
<body>
	<h1 class="error">404!</h1>
	<a href="/">돌아가볼까...</a>
</body>
</html>
{{ end }}
