{{ define "content" }}
<p class="say_hello">
{{ if .User.Name }}
	{{ if .User.IsAdmin }}
	{{ .User.Name }}(관리자)님, 안녕하세요!</p>
	{{ else }}
	{{ .User.Name }}님, 안녕하세요!</p>
	{{ end }}
	<p>내 코인: {{ .User.Coin }}C</p>
{{ else }}
	로그인을 하시는 게 어떤가요?</p>
<a class="go_to_login" href="/login">로그인 하기</a>
{{ end }}
{{ end }}
