{{ define "layout" }}

<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<link href="/static/style.css" rel="stylesheet" type="text/css">
	<title>왕운 가챠!</title>
</head>
<body>
	{{ template "content" . }}
</body>
</html>

{{ end }}
