{{ define "content" }}

{{ if .User }}
<p>{{.User.Name }}님, 이미 로그인되어 있습니다.</p>
<a href="/">메인화면으로 돌아가기</a>
{{ else }}
<p>{{ .Message }}</p>
<form role="form" action="/auth" method="post">
	<input type="email" name="email" required autofocus>
	<input type="password" name="password" required>
	<button type="submit">Sign in</button>
</form>

<a href="/">Go to Main Page</a>
<p>
Don't have accounts?
<a href="/register"> Register here.</a>
</p>
{{ end }}

{{ end }}
