{{ define "content" }}

{{ if .User.Name }}
<p>{{.User.Name }}님, 이미 로그인되어 있습니다.</p>
<a href="/">메인화면으로 돌아가기</a>
{{ else }}
<p>{{ .Message }}</p>
<form role="form" action="/auth" method="post" autocomplete="off">
	<label>이메일
	<input type="email" name="email" placeholder="myname@domain.com" required autofocus>
	</label><label>비밀번호
	<input type="password" name="password" placeholder="*******" minlength="8" required>
	</label>
	<button type="submit">Sign in</button>
</form>

<a href="/">Go to Main Page</a>
<p>
Don't have accounts?
<a href="/register"> Register here.</a>
</p>
{{ end }}

{{ end }}
