@font-face{
	 font-family:'Daum';
	 font-style:normal;
	 font-weight:400;
	 src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-Regular.woff2') format('woff2'),
		 url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-Regular.woff') format('woff');
}
@font-face{
	 font-family:'Daum';
	 font-style:normal;
	 font-weight:700;
	 src:url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-SemiBold.woff2') format('woff2'),
		 url('//cdn.jsdelivr.net/korean-webfonts/1/corps/daum/Daum/Daum-SemiBold.woff') format('woff');
}

* {
	font-family: Daum;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

body {
	background-color: #d4ddcc;
}

.navbar {
	overflow: hidden;
	background-color: #f39c12;
	position: fixed;
	top: 0;
	width: 100%;
	list-style: none;
	float: left;
}

.navbar li {
	display: inline-block;
}

.navbar p {
	font-size: 3rem;
	color: white;
	text-shadow: 2px 2px 5px #000000;
	display: block;
	text-align: center;
	left: 50%;
}

.navbar a {
	color: #f2f2f2;
	text-align: right;
	text-decoration: none;
}

a .login_out {
	float: right;
}

.main {
	margin: 65px 20px 40px 20px;
	background-color: #dbdbdb;
}

.say_hello {
	text-align: center;
	font-size: 1.9rem;
}

.go_to_login {
	font-size: 1rem;
	float: right;
	padding-right: 13px;
}

input {
	display: block;
}
